<div class="messages js-messages">
  <div class="messages--content js-messages--content">
    <% messages.each do |message| %>
    <%= render 'components/message/message', message: message %>
    <% end %>
  </div>
</div>
