<div class="chat">
  <div class="chat--messages">
    <%= render 'components/messages/messages', messages: messages %>
  </div>
  <div class="chat--form">
    <%= render 'components/message-form/message-form' %>
  </div>
</div>
